.authorInfo {
    padding: 50px 0;

    h4 {
        color: $primary-color;
        font-size: 22px;
    }

    &-name {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        font-size: 32px;
        color: $primary-color;
    }

    &-row {
        padding: 0 25px;
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    &-img {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &-characteristics {
        width: 100%;

        &-item {
            font-size: 18px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $primary-color;
            margin-bottom: 10px;

            &-text {
                width: 55%;
            }
        }
    }

    &-info {
        margin-top: 100px;
        padding: 0 25px;

        p {
            font-size: 20px;
        }
    }
}

@media (max-width: 991px) {
    .authorInfo {
        &-img {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 767px) {
    .authorInfo {
        &-row {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &-img {
            width: 100%;
            img {
                width: 250px;
                height: 250px;
            }
        }

        &-info {
            margin-top: 50px;
        }
    }
}

@media (max-width: 575px) {
    .authorInfo {
        &-name {
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 26px;
        }

        &-row {
            padding: 0 10px;
        }

        &-characteristics {
            display: flex;
            align-items: center;
            flex-direction: column;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-item {
                font-size: 16px;
                flex-direction: column;

                &-text {
                    width: 100%;
                    padding: 0;
                    padding-bottom: 10px;
                }
            }
        }

        &-info {
            padding: 0 10px;

            h4 {
                flex-direction: column;
                display: flex;
                align-items: center;
            }

            p {
                font-size: 18px;
            }
        }
    }
}
