body {
    margin: 0;
    background-color: $secondary-color;
    box-sizing: border-box;
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
    font-weight: normal;
}
