body {
    margin: 0;
    background-color: rgb(246, 244, 235);
    box-sizing: border-box;
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
    font-weight: normal;
}
