.Select {
    // appearance: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 11px;
    border: 1px solid $primary-color;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;

    &:active,
    &:focus {
        outline: none;
    }
}
