.Button {
    display: flex;
}

.Button_center {
    justify-content: center;
    align-items: center;
}

.Button_mb50 {
    margin-bottom: 50px;
}

.Button-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    background-color: transparent;
    color: rgb(70, 130, 169);
    border: 1px solid rgb(116, 155, 194);
    border-radius: 10px;
    transition: all 0.3s;
}

.Button-btn:hover {
    background-color: rgb(70, 130, 169);
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}
