.Button {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: all 0.3s;
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
    font-weight: normal;

    &-light {
        background-color: transparent;
        color: rgb(70, 130, 169);
        border: 1px solid rgb(116, 155, 194);

        &:hover {
            background-color: rgb(70, 130, 169);
            color: rgb(255, 255, 255);
            transition: all 0.3s;
        }
    }

    &-dark {
        border: 1px solid rgb(70, 130, 169);
        background-color: rgb(70, 130, 169);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: transparent;
            color: rgb(70, 130, 169);
            transition: all 0.3s;
        }
    }

    &-disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: rgb(92, 102, 109);
        border: 1px solid rgb(92, 102, 109);

        &:hover {
            background-color: transparent;
            color: rgb(92, 102, 109);
        }
    }
}

@media (hover: none) {
    .Button {
        &-light,
        &-dark {
            &:hover {
                background-color: transparent;
                color: rgb(70, 130, 169);
            }
        }
    }
}
